.main-page-text{
    font-size: 18px;
    align-content: left;
}


.main-page{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

text{
    font-size: 34px;
    align-items: left;
}

.main-page-image{
    align-items: center;
    padding: 100px 0 0 0;
}

.main-page-buttons{
    padding: 15px;
    display: flex;
}

.gradient-button{
    background-image: linear-gradient(to right, purple,red ,orange);
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
}

.non-gradient-button{
    border-radius: 25px;
    border: black;
    padding: 10px 20px;
}


.gradient-background{
    background-image: linear-gradient(to right, purple,red ,orange);
    padding: 15px;
}